name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          base: header, activity, repositories
          token: ${{ secrets.METRICS_TOKEN }}
          config_display: large
          config_padding: 0, 8 + 2%
          config_timezone: Asia/Bishkek
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_habits: yes
          plugin_habits_facts: yes     
          plugin_habits_charts: yes     
          plugin_habits_trim: yes 
          plugin_followup: yes
          plugin_followup_sections: repositories, use
